<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.ComputerMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Computer">
    <id column="computerId" jdbcType="VARCHAR" property="computerid" />
    <result column="computerName" jdbcType="VARCHAR" property="computername" />
    <result column="computerPrice" jdbcType="BIGINT" property="computerprice" />
    <result column="madeTime" jdbcType="TIMESTAMP" property="madetime" />
  </resultMap>
  <sql id="Base_Column_List">
    computerId, computerName, computerPrice, madeTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from computer
    where computerId = #{computerid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from computer
    where computerId = #{computerid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Computer">
    insert into computer (computerId, computerName, computerPrice, 
      madeTime)
    values (#{computerid,jdbcType=VARCHAR}, #{computername,jdbcType=VARCHAR}, #{computerprice,jdbcType=BIGINT}, 
      #{madetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Computer">
    insert into computer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="computerid != null">
        computerId,
      </if>
      <if test="computername != null">
        computerName,
      </if>
      <if test="computerprice != null">
        computerPrice,
      </if>
      <if test="madetime != null">
        madeTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="computerid != null">
        #{computerid,jdbcType=VARCHAR},
      </if>
      <if test="computername != null">
        #{computername,jdbcType=VARCHAR},
      </if>
      <if test="computerprice != null">
        #{computerprice,jdbcType=BIGINT},
      </if>
      <if test="madetime != null">
        #{madetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.Computer">
    update computer
    <set>
      <if test="computername != null">
        computerName = #{computername,jdbcType=VARCHAR},
      </if>
      <if test="computerprice != null">
        computerPrice = #{computerprice,jdbcType=BIGINT},
      </if>
      <if test="madetime != null">
        madeTime = #{madetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where computerId = #{computerid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.Computer">
    update computer
    set computerName = #{computername,jdbcType=VARCHAR},
      computerPrice = #{computerprice,jdbcType=BIGINT},
      madeTime = #{madetime,jdbcType=TIMESTAMP}
    where computerId = #{computerid,jdbcType=VARCHAR}
  </update>
  <!-- 查询 -->
  <select id="allCount"   resultType="java.lang.Long">
    select count(*) from computer
  </select>
  <select id="findAll"   resultMap="BaseResultMap">
    select * from computer
  </select>
  <!-- @Param注解传参法 -->
  <select id="findByNameAndPrice"   resultType="com.jachs.mybatis.entity.Computer">
    select * from computer where computerName=#{cname} and computerPrice=#{cprice}
  </select>
  <!-- Map传参法 -->
  <select id="findByNameAndPriceAndMadeTime" parameterType="java.util.Map"  resultType="com.jachs.mybatis.entity.Computer">
    select * from computer where computerName = #{name} and computerPrice=#{pri} 
  </select>
  <!-- like -->
  <select id="findIdLike" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select * from computer where computerId like "%"#{cid}"%"
  </select>
</mapper>