<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.Examinee_examsMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Examinee_examsKey">
    <id column="examinee_examinee_id" jdbcType="INTEGER" property="examineeExamineeId" />
    <id column="exams_exam_id" jdbcType="INTEGER" property="examsExamId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.jachs.mybatis.entity.Examinee_examsKey">
    delete from examinee_exams
    where examinee_examinee_id = #{examineeExamineeId,jdbcType=INTEGER}
      and exams_exam_id = #{examsExamId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Examinee_examsKey">
    insert into examinee_exams (examinee_examinee_id, exams_exam_id)
    values (#{examineeExamineeId,jdbcType=INTEGER}, #{examsExamId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Examinee_examsKey">
    insert into examinee_exams
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examineeExamineeId != null">
        examinee_examinee_id,
      </if>
      <if test="examsExamId != null">
        exams_exam_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examineeExamineeId != null">
        #{examineeExamineeId,jdbcType=INTEGER},
      </if>
      <if test="examsExamId != null">
        #{examsExamId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>