<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.My_studentMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.My_student">
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_age" jdbcType="INTEGER" property="studentAge" />
    <result column="student_gender" jdbcType="INTEGER" property="studentGender" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="classid" jdbcType="INTEGER" property="classid" />
  </resultMap>
  <sql id="Base_Column_List">
    student_id, student_age, student_gender, student_name, classid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from my_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from my_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.My_student">
    insert into my_student (student_id, student_age, student_gender, 
      student_name, classid)
    values (#{studentId,jdbcType=INTEGER}, #{studentAge,jdbcType=INTEGER}, #{studentGender,jdbcType=INTEGER}, 
      #{studentName,jdbcType=VARCHAR}, #{classid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.My_student">
    insert into my_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentAge != null">
        student_age,
      </if>
      <if test="studentGender != null">
        student_gender,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="classid != null">
        classid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentAge != null">
        #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentGender != null">
        #{studentGender,jdbcType=INTEGER},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.My_student">
    update my_student
    <set>
      <if test="studentAge != null">
        student_age = #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentGender != null">
        student_gender = #{studentGender,jdbcType=INTEGER},
      </if>
      <if test="studentName != null">
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        classid = #{classid,jdbcType=INTEGER},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.My_student">
    update my_student
    set student_age = #{studentAge,jdbcType=INTEGER},
      student_gender = #{studentGender,jdbcType=INTEGER},
      student_name = #{studentName,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>