<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.My_subject_my_student_listMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.My_subject_my_student_list">
    <result column="my_subject_subject_id" jdbcType="INTEGER" property="mySubjectSubjectId" />
    <result column="my_student_list_student_id" jdbcType="INTEGER" property="myStudentListStudentId" />
  </resultMap>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.My_subject_my_student_list">
    insert into my_subject_my_student_list (my_subject_subject_id, my_student_list_student_id
      )
    values (#{mySubjectSubjectId,jdbcType=INTEGER}, #{myStudentListStudentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.My_subject_my_student_list">
    insert into my_subject_my_student_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mySubjectSubjectId != null">
        my_subject_subject_id,
      </if>
      <if test="myStudentListStudentId != null">
        my_student_list_student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mySubjectSubjectId != null">
        #{mySubjectSubjectId,jdbcType=INTEGER},
      </if>
      <if test="myStudentListStudentId != null">
        #{myStudentListStudentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>