<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.NodeMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Node">
    <id column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="node_back_groud_image" jdbcType="VARCHAR" property="nodeBackGroudImage" />
    <result column="node_height" jdbcType="DOUBLE" property="nodeHeight" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="node_width" jdbcType="DOUBLE" property="nodeWidth" />
  </resultMap>
  <sql id="Base_Column_List">
    node_id, node_back_groud_image, node_height, node_name, node_width
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node
    where node_id = #{nodeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node
    where node_id = #{nodeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Node">
    insert into node (node_id, node_back_groud_image, node_height, 
      node_name, node_width)
    values (#{nodeId,jdbcType=BIGINT}, #{nodeBackGroudImage,jdbcType=VARCHAR}, #{nodeHeight,jdbcType=DOUBLE}, 
      #{nodeName,jdbcType=VARCHAR}, #{nodeWidth,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Node">
    insert into node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="nodeBackGroudImage != null">
        node_back_groud_image,
      </if>
      <if test="nodeHeight != null">
        node_height,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="nodeWidth != null">
        node_width,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="nodeBackGroudImage != null">
        #{nodeBackGroudImage,jdbcType=VARCHAR},
      </if>
      <if test="nodeHeight != null">
        #{nodeHeight,jdbcType=DOUBLE},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeWidth != null">
        #{nodeWidth,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.Node">
    update node
    <set>
      <if test="nodeBackGroudImage != null">
        node_back_groud_image = #{nodeBackGroudImage,jdbcType=VARCHAR},
      </if>
      <if test="nodeHeight != null">
        node_height = #{nodeHeight,jdbcType=DOUBLE},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeWidth != null">
        node_width = #{nodeWidth,jdbcType=DOUBLE},
      </if>
    </set>
    where node_id = #{nodeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.Node">
    update node
    set node_back_groud_image = #{nodeBackGroudImage,jdbcType=VARCHAR},
      node_height = #{nodeHeight,jdbcType=DOUBLE},
      node_name = #{nodeName,jdbcType=VARCHAR},
      node_width = #{nodeWidth,jdbcType=DOUBLE}
    where node_id = #{nodeId,jdbcType=BIGINT}
  </update>
</mapper>