<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Student">
    <id column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="student_age" jdbcType="INTEGER" property="studentAge" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="s_cart" jdbcType="VARCHAR" property="sCart" />
  </resultMap>
  <sql id="Base_Column_List">
    student_id, student_age, student_name, s_cart
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where student_id = #{studentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from student
    where student_id = #{studentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Student">
    insert into student (student_id, student_age, student_name, 
      s_cart)
    values (#{studentId,jdbcType=VARCHAR}, #{studentAge,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR}, 
      #{sCart,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentAge != null">
        student_age,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="sCart != null">
        s_cart,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="studentAge != null">
        #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="sCart != null">
        #{sCart,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.Student">
    update student
    <set>
      <if test="studentAge != null">
        student_age = #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentName != null">
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="sCart != null">
        s_cart = #{sCart,jdbcType=VARCHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.Student">
    update student
    set student_age = #{studentAge,jdbcType=INTEGER},
      student_name = #{studentName,jdbcType=VARCHAR},
      s_cart = #{sCart,jdbcType=VARCHAR}
    where student_id = #{studentId,jdbcType=VARCHAR}
  </update>
</mapper>