<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.cache.mapper.ComputerMapper">
	<resultMap id="cpDtoMap" type="com.jachs.mybatis.cache.entity.dto.CpDto">
        <id column="softWareId" property="softWareId" />
        <result column="softWareName" property="softWareName" />
        <result column="cFKId" property="cFKId" />
    </resultMap>
    
    <select id="queryCpDto" resultMap="cpDtoMap">
    	SELECT cp.*,sw.softWareName FROM computer cp 
		join software sw on cp.computerId=sw.cFKId
		where cp.computerId=#{cpId}
    </select>
</mapper>
