<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="exam">

    <insert id="insertExam" parameterType="com.jachs.xml.entity.Exam">
       insert into exam(examId,examName,score)   values(#{examId},#{examName},#{score})
    </insert>
    
    <select id="selectExam" parameterType="int" resultType="com.jachs.xml.entity.Exam">
	  SELECT * FROM exam WHERE examId = #{id}
	</select>
	
	<select id="findAll" resultType="com.jachs.xml.entity.Exam">
	  SELECT * FROM exam 
	</select>
</mapper>