<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.SoftwareMapper">

  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Software">
    <id column="softWareId" jdbcType="VARCHAR" property="softwareid" />
    <result column="softWareName" jdbcType="VARCHAR" property="softwarename" />
    <result column="cFKId" jdbcType="VARCHAR" property="cfkid" />
  </resultMap>
  
  <!-- 
  	属性	描述
	property	需要映射到JavaBean 的属性名称。<br>
	column	数据表的列名或者标签别名。<br>
	javaType	一个完整的类名，或者是一个类型别名。如果你匹配的是一个JavaBean，那MyBatis 通常会自行检测到。然后，如果你是要映射到一个HashMap，那你需要指定javaType 要达到的目的。<br>
	jdbcType	数据表支持的类型列表。这个属性只在insert,update 或delete 的时候针对允许空的列有用。JDBC 需要这项，但MyBatis 不需要。如果你是直接针对JDBC 编码，且有允许空的列，而你要指定这项。<br>
	typeHandler	使用这个属性可以覆写类型处理器。这项值可以是一个完整的类名，也可以是一个类型别名。<br>
   -->
  <resultMap id="DtoMap" type="com.jachs.mybatis.dto.SoftWareDto">
    <id column="softwareid" jdbcType="VARCHAR" property="swId" javaType="String"/>
    <result column="softwarename" jdbcType="VARCHAR" property="swName" javaType="String"/>
    <result column="computerId" jdbcType="VARCHAR" property="cpId" javaType="String"/>
    <result column="computerName" jdbcType="VARCHAR" property="cpName" javaType="String"/>
    <result column="computerPrice" jdbcType="BIGINT" property="cpMonery" javaType="long"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    softWareId, softWareName, cFKId
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from software
    where softWareId = #{softwareid,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from software
    where softWareId = #{softwareid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Software">
    insert into software (softWareId, softWareName, cFKId
      )
    values (#{softwareid,jdbcType=VARCHAR}, #{softwarename,jdbcType=VARCHAR}, #{cfkid,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Software">
    insert into software
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="softwareid != null">
        softWareId,
      </if>
      <if test="softwarename != null">
        softWareName,
      </if>
      <if test="cfkid != null">
        cFKId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="softwareid != null">
        #{softwareid,jdbcType=VARCHAR},
      </if>
      <if test="softwarename != null">
        #{softwarename,jdbcType=VARCHAR},
      </if>
      <if test="cfkid != null">
        #{cfkid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.Software">
    update software
    <set>
      <if test="softwarename != null">
        softWareName = #{softwarename,jdbcType=VARCHAR},
      </if>
      <if test="cfkid != null">
        cFKId = #{cfkid,jdbcType=VARCHAR},
      </if>
    </set>
    where softWareId = #{softwareid,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.Software">
    update software
    set softWareName = #{softwarename,jdbcType=VARCHAR},
      cFKId = #{cfkid,jdbcType=VARCHAR}
    where softWareId = #{softwareid,jdbcType=VARCHAR}
  </update>
  
  <!-- 查询 -->
  <select id="findByCpId" parameterType="java.lang.String" resultMap="BaseResultMap">
   select sw.* from software sw 
	join computer cp 
	on cp.computerid=sw.cFKId
	where cp.computerid=#{cpId}
  </select>
  
  <select id="findBycIdAndName" parameterType="com.jachs.mybatis.vo.SoftWareVo" resultMap="BaseResultMap">
   select sw.* from software sw 
	join computer cp 
	on cp.computerid=sw.cFKId
	where cp.computerid=#{cpId} and sw.softWareName like "%"#{swName}"%"
  </select>
  
  <select id="findBycIdAndNameDto" parameterType="com.jachs.mybatis.vo.SoftWareVo" resultMap="DtoMap">
   select 
    sw.softwareid ,sw.softwarename ,
    cp.computerId ,cp.computername ,cp.computerprice 
    from software sw 
	join computer cp 
	on cp.computerid=sw.cFKId
	where cp.computerid=#{cpId} and sw.softWareName like "%"#{swName}"%"
  </select>
  
  <select id="queryManyById" parameterType="java.util.List" resultMap="BaseResultMap">
  		select * from software
  		where 
  		<foreach collection="idList" index="index" item="item" open="" separator="" close="">
        	<if test="index==0"> softWareId=#{item}  </if>
        	<if test="index!=0"> or softWareId=#{item}   	</if>
		</foreach>
  </select>
</mapper>