<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.multiple.d3.mapper.ExamExamineesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jachs.mybatis.multiple.d3.domain.ExamExaminees">
        <id column="Exam_examId" property="examExamid" />
        <result column="examinees_examineeId" property="examineesExamineeid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Exam_examId, examinees_examineeId
    </sql>

</mapper>
