<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.multiple.d2.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jachs.mybatis.multiple.d2.domain.Student">
        <id column="studentId" property="studentId" />
        <result column="dateOfBirth" property="dateOfBirth" />
        <result column="studentAge" property="studentAge" />
        <result column="studentName" property="studentName" />
        <result column="sCarId" property="sCarId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        studentId, dateOfBirth, studentAge, studentName, sCarId
    </sql>

</mapper>
