<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.multiple.d1.mapper.ComputerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jachs.mybatis.multiple.d1.domain.Computer">
        <id column="computerId" property="computerId" />
        <result column="computerName" property="computerName" />
        <result column="computerPrice" property="computerPrice" />
        <result column="madeTime" property="madeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        computerId, computerName, computerPrice, madeTime
    </sql>

</mapper>
