<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.Soft_wareMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Soft_ware">
    <id column="soft_ware_id" jdbcType="VARCHAR" property="softWareId" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="soft_ware_name" jdbcType="VARCHAR" property="softWareName" />
  </resultMap>
  <sql id="Base_Column_List">
    soft_ware_id, cid, soft_ware_name
  </sql>
  <select id="selectByCidAndSoftWareName_2" parameterType="map" resultMap="BaseResultMap">
  	select * from soft_ware where cid=#{a} and soft_ware_name=#{b}
  </select>
  <select id="selectByCidAndSoftWareName_1" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from soft_ware where cid=#{p1} and soft_ware_name=#{p2}
  </select>
  <select id="selectByCidAndSoftWareName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from soft_ware where cid=#{cid} and soft_ware_name=#{softname}
  </select>
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from soft_ware
  </select>
  <select id="selectByCid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from soft_ware where cid=#{cid}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from soft_ware
    where soft_ware_id = #{softWareId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from soft_ware
    where soft_ware_id = #{softWareId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Soft_ware">
    insert into soft_ware (soft_ware_id, cid, soft_ware_name
      )
    values (#{softWareId,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{softWareName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Soft_ware">
    insert into soft_ware
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="softWareId != null">
        soft_ware_id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="softWareName != null">
        soft_ware_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="softWareId != null">
        #{softWareId,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="softWareName != null">
        #{softWareName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.Soft_ware">
    update soft_ware
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="softWareName != null">
        soft_ware_name = #{softWareName,jdbcType=VARCHAR},
      </if>
    </set>
    where soft_ware_id = #{softWareId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.Soft_ware">
    update soft_ware
    set cid = #{cid,jdbcType=VARCHAR},
      soft_ware_name = #{softWareName,jdbcType=VARCHAR}
    where soft_ware_id = #{softWareId,jdbcType=VARCHAR}
  </update>
</mapper>