<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jachs.mybatis.dao.Video_gameMapper">
  <resultMap id="BaseResultMap" type="com.jachs.mybatis.entity.Video_game">
    <id column="game_id" jdbcType="BIGINT" property="gameId" />
    <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    <result column="game_price" jdbcType="INTEGER" property="gamePrice" />
    <result column="player_player_id" jdbcType="BIGINT" property="playerPlayerId" />
  </resultMap>
  <sql id="Base_Column_List">
    game_id, game_name, game_price, player_player_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_game
    where game_id = #{gameId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from video_game
    where game_id = #{gameId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jachs.mybatis.entity.Video_game">
    insert into video_game (game_id, game_name, game_price, 
      player_player_id)
    values (#{gameId,jdbcType=BIGINT}, #{gameName,jdbcType=VARCHAR}, #{gamePrice,jdbcType=INTEGER}, 
      #{playerPlayerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jachs.mybatis.entity.Video_game">
    insert into video_game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        game_id,
      </if>
      <if test="gameName != null">
        game_name,
      </if>
      <if test="gamePrice != null">
        game_price,
      </if>
      <if test="playerPlayerId != null">
        player_player_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="gameName != null">
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gamePrice != null">
        #{gamePrice,jdbcType=INTEGER},
      </if>
      <if test="playerPlayerId != null">
        #{playerPlayerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jachs.mybatis.entity.Video_game">
    update video_game
    <set>
      <if test="gameName != null">
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gamePrice != null">
        game_price = #{gamePrice,jdbcType=INTEGER},
      </if>
      <if test="playerPlayerId != null">
        player_player_id = #{playerPlayerId,jdbcType=BIGINT},
      </if>
    </set>
    where game_id = #{gameId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jachs.mybatis.entity.Video_game">
    update video_game
    set game_name = #{gameName,jdbcType=VARCHAR},
      game_price = #{gamePrice,jdbcType=INTEGER},
      player_player_id = #{playerPlayerId,jdbcType=BIGINT}
    where game_id = #{gameId,jdbcType=BIGINT}
  </update>
</mapper>